<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio Exitoso</title>
    <style>
        div{
            align-content: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>¡Cambio de precio exitoso! 😎</h1>
        <form action="/" method="GET" style="margin-top: 20px;">
            <input type="submit" value="Volver a la Página Principal">
        </form>
    </div>
</body>
</html>